.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 3rem;
    // test purpse
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.row {
    > nav {
        align-self: start;
    }
}