.info-hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    align-items: center;
    gap: 12rem;

    &__content-box {
        padding-left: 8rem;
        > *:not(:last-child) {
            margin-bottom: 5rem;
        }
        span {
            display: inline-block;
        }
    }
    &__img {
        width: 100%;
    }
    &__heading {
        font-weight: 700;
        &--primary {
            font-size: 4rem;
            color: #171717;
            letter-spacing: 10%;
        }
        &--secondary {
            font-size: 2.4rem;
            letter-spacing: 30%;
            color: var(--grey-color-shade-1);
        }
    }

    &__year, &__kilometer {
        color: var(--primary-color);
        font-size: 2.4rem;
        font-weight: 700;

        &::before {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--grey-color-shade-1);
            display: block;
        }
    }

    &__year {
        margin-right: 3rem;
        &::before {
            content: 'Ano';
        }
    }
    &__kilometer::before {
        content: 'Km';
    }

    &__price {
        font-size: 3.2rem;
        font-weight: 600;

        span {
            font-size: 2rem;
            color: var(--grey-color-shade-1);
        }
    }

    &__btn {
        transition: .2s;
        font-weight: 500;
        font-size: 2rem;
        color: white;
        background-color: #171717;
        border-radius: var(--big-radius);
        border: none;
        padding: 1.3rem 4rem;
    }
}