.head-nav {
    display: flex;
    justify-content: space-between;
    padding: 3.4rem 6rem;

    &__logo {
        height: 3rem;
    }

    &__list {
        display: flex;
        gap: calc(5rem - 1.8rem);
    }

    &__item:hover &__link {
        color: var(--grey-color);
    }

    &__link {
        text-decoration: none;
        transition: .2s;
        font-weight: 500;
        font-size: 1.8rem;
        padding: .6rem 1.8rem;

        &--active {
            color: white;
            background-color: var(--primary-color);
            border-radius: var(--normal-radius);

            &:hover {
                background-color: transparent;
            }
        }
    }
}