@import '../../abstracts/variables.scss';

.side-nav {
  font-weight: 700;
  justify-self: center;
  padding-left: 5rem;
  
  &__product-name {
    color: var(--grey-color-shade-1);
    font-size: 2.4rem;
    letter-spacing: 30%;
    margin-bottom: 1rem;
  }
  &__heading-tertiary {
    font-size: 3.2rem;
    letter-spacing: 10%;

    @include responsive("big-mobile") {
      font-size: 1.8rem;
    }
  }
  &__list {
    font-weight: 400;
    font-size: 2.4rem;
    // Gutter
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include responsive("big-mobile") {
      flex-direction: row;
      font-size: 1.8rem;
      gap: 4rem;
    }
  }
  &__item {
    color: var(--grey-color);
    list-style: none;
    // display: none;
  }

  &__item--active {
    list-style: initial;
    color: var(--primary-color);
    font-weight: 700;
  }
}
