.product {
    display: inline-block;
    padding: 2rem 2rem 1.5rem 2rem;
    border: 1px solid var(--grey-color-tint-1);
    border-radius: var(--big-radius);
    transition: .2s;

    &__content-box {
        padding-top: 3rem;
       
        > *:not(:last-child) {
            margin-bottom: 2.6rem;
        }
    }
    &__img {
        width: 100%;
        border-radius: var(--big-radius);
        height: 15rem;
        object-fit: cover;
        object-position: 50% 65%;
    }
    &__title {
        font-size: 1.6rem;
        font-weight: 700;
    }
    &__date {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--grey-color-shade-1);
    }
    &__price {
        span {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--grey-color-shade-1);
        }
        strong {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    &__external {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btns {
        button {
            border: 1px solid var(--grey-color-shade-1);
            border-radius: 1rem;
            padding: .4rem .8rem;
            font-size: 1.2rem;
            font-weight: 700;
            background-color: transparent;

            &:not(:last-child) {
                margin-right: .8rem;
            }
        }
        .primary {
            background-color: #1D85FF;
            color: rgba(0,0,0,.7);
            border: 1px solid #1D85FF;
        }
        .tertiary {
            background-color: #33FF00;
            color: rgba(0,0,0,.6);
            border: 1px solid #33FF00;
        }
        .secondary {
            color: var(--grey-color-shade-1);
        }
    }

}

.product:hover {
    border-color: transparent;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    transform: translateY(-.3rem);
}