.footer {
  background: #F7F7F7;
  padding: 13rem 15rem 3rem 15rem;
  border-top: 1px solid var(--grey-color);

  &__nav {
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    gap: 1rem;

    > * {
      display: flex;
      flex-direction: column;
    }
  }

  // Social Box

  &__social-box {
    gap: 2rem;
  }
  &__social-text {
    font-size: 1.9rem;
    font-weight: 500;
  }

  &__social-icons {
    display: flex;
    gap: 6.6rem;
  }

  // Contact Box

  &__contact-heading {
    margin-bottom: 3.2rem;
    font-size: var(--size-short-heading);
    font-weight: 600;
    letter-spacing: 7%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__list-link {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--size-item);
  }

  &__copyright {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--grey-color-shade-1);
  }

  // Form Box

  &__cta {
    gap: 3.75rem;
  }

  &__cta-heading {
    font-size: var(--size-short-heading);
    font-weight: 600;
    letter-spacing: 7%;
  }
  &__cta-text {
    font-size: var(--size-item);
    font-weight: 500;
  }
}

.little-cta {
  display: flex;
  gap: 2rem;

  &__input {
    border: 1px solid var(--grey-color-shade-1);
    border-radius: var(--small-radius);
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    width: 70%;
  }
  &__submit {
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    border: 1px solid var(--grey-color-shade-1);
    border-radius: var(--small-radius);
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.2s;
    width: 30%;

    &:hover {
      color: white;
    }
  }
}